html,
body {
  margin: 0;
  min-height: 100%;
  font-family: 'JetBrains Mono', monospace;
}

/* Common styles
----------------------------- */
fieldset {
  border: none;
  margin: 0;
}

h4 {
  margin: 0.3rem 0;
  font-size: 1.2rem;
}

p {
  color: #444444;
  font-size: 0.8rem;
  margin: 0.4rem 0;
}

.wrapper {
  height: 100%;
  margin: auto;
  width: 1100px;
  background-color: white;
  padding: 0 15px;
  position: absolute;
  left: 10px;
  right: 10px;
}

.widget {
  z-index: 2;
  border: 2px solid transparent;
  padding: 0.5em;
}

#mainCanvas {
  width: 960px;
  min-height: 100%;
  background-color: #f7f7f7;
  margin-left: 130px;
  margin-top: 15px;

  .active {
    z-index: 2;
    border: 2px solid #8dc8e6;
  }
}

/* RIGHT AND LEFT TOOLS CONTAINERS */
.tools {
  margin-top: 3rem;
  img {
    display: none !important;
  }
}

.l-tools {
  position: fixed;
  width: 120px;
}

/* TOOLS ITEM */
.tools-item {
  background-color: white;
  border: 1px solid #d0d3cc;
  border-radius: 15px;
  cursor: pointer;
  font-size: 0.9rem;
  margin: 4px;
  padding: 5px 4px 4px 1.2ch;
  position: relative;
  text-align: center;
  height: 50px;
  width: 50px;
  color: #6f6f6f;
  float: left;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  transform: rotate(-8deg);
  line-height: 2.6em;
  box-shadow: 0px 0px 3px #0d68dd;

  .tools-subitems {
    display: none;
  }
  &:hover {
    background-color: #e0eef9;
  }

  img {
    width: 32px;
    height: 32px;
    display: block;
    margin: 2px auto;
  }

  &.ui-draggable-dragging {
    .tools-arrow,
    .tools-subitems {
      display: none !important;
    }
  }

  &.open {
    z-index: 100;
    .tools-subitems {
      display: block;
    }
    .tools-arrow {
      display: none;
    }
  }
}

.hovered {
  .active {
    outline: 0 !important;
  }
}

/* TEXT WIDGET */
.text-widget .selected {
  background: #ececec;
  outline: 1px solid #303030;
}
.text-widget ul {
  list-style: disc;
  list-style-position: inside;
}
.text-widget ol {
  list-style: decimal;
  list-style-position: inside;
}

/*START FORM WIDGET*/
.form-widget {
  .selected {
    background: #ececec;
    outline: 1px solid #303030;
  }
  div.select {
    background-color: #ffffff;
    border: 1px solid gray;
    max-height: 100px;
    overflow: auto;
    width: 300px; /**/
    span {
      display: block;
    }
  }
}
form.form-widget {
  input {
    clear: both;
  }
  textarea {
    width: 100%;
  }
  fieldset.mainFieldSet {
    border: none;
  }
  fieldset {
    border: 1px solid #bbbbbb;
  }
}
/*END FORM WIDGET*/

/* Editable area extention element */
.extend-element {
  position: absolute;
  display: none;
  top: 0;
  left: 0; /*background-color: rgba(181,230,141,0.5);*/
  border-radius: 20px;
  height: 100px;
  width: 100px;
  z-index: 999;
}

.extend-element .helper {
  /*background: #b5e68d;*/
  box-shadow: 0 0 1px 1px black;
  right: 0;
  margin-left: -3px;

  position: absolute;
  border-radius: 4px;
  opacity: 0.9;
  height: 6px;
  width: 6px;
}

.resize * {
  user-select: none;
}

.extend-cell .extend-element .helper {
  background-color: rgba(181, 230, 141, 1);
}

/* Form
----------------------------- */
form {
  color: #444444;
  margin: 10px;
  font-size: 14px;
}
form fieldset {
  padding: 5px;
}
form fieldset label {
  float: left;
  padding-right: 10px;
  text-align: left;
  width: 20%;
}

form input[type='text'],
form textarea {
  padding: 5px;
  text-align: left;
  vertical-align: middle;
  width: 70%;
}
form select {
  padding: 5px;
  width: 70%;
}
form button {
  padding: 5px;
}

.cell {
  min-height: 50px;
  margin-bottom: 2px;
  position: relative;
}

body {
  .resize-left,
  .resize-right {
    display: none;
  }
}

#mainCanvas {
  .resize-left,
  .resize-right {
    display: block;
  }
}
.resize-left,
.resize-right {
  position: absolute;
  height: calc(100% - 30px);
  border: none;
  width: 5px;
  top: 15px;
  cursor: ew-resize;
  border-radius: 7px;
  background: white;
  box-shadow: 0px 0px 3px 0px #737373;
}
.resize-left {
  left: -13px;
}
.resize-right {
  right: -13px;
}

//Table widget
table {
  font-size: 0.7rem;
  margin: 10px auto;
}
.grid_12,
.grid_10,
.grid_9,
.grid_8 {
}

.grid_7,
.grid_6 {
  .table-widget-1 table {
    td:nth-child(2),
    th:nth-child(2) {
      display: none;
    }
  }
}

.grid_5,
.grid_4 {
  .table-widget-1 table {
    td:nth-child(2),
    th:nth-child(2),
    td:nth-child(4),
    th:nth-child(4),
    td:nth-child(7),
    th:nth-child(7),
    td:nth-child(8),
    th:nth-child(8) {
      display: none;
    }
  }
}

.grid_3 {
  .table-widget-1 table {
    td:nth-child(2),
    th:nth-child(2),
    td:nth-child(4),
    th:nth-child(4),
    td:nth-child(5),
    th:nth-child(5),
    td:nth-child(7),
    th:nth-child(7),
    td:nth-child(8),
    th:nth-child(8) {
      display: none;
    }
  }
}
.grid_2 {
  .table-widget-1 table {
    td:nth-child(2),
    th:nth-child(2),
    td:nth-child(4),
    th:nth-child(4),
    td:nth-child(5),
    th:nth-child(5),
    td:nth-child(6),
    th:nth-child(6),
    td:nth-child(7),
    th:nth-child(7),
    td:nth-child(8),
    th:nth-child(8),
    td:nth-child(9),
    th:nth-child(9) {
      display: none;
    }
  }
}

.grid_7,
.grid_6,
.grid_5,
.grid_4,
.grid_3,
.grid_2 {
  .table-widget-2 {
    th {
      min-height: 16px;
    }

    .cf:after {
      clear: both;
      content: ' ';
      display: block;
      font-size: 0;
      height: 0;
      visibility: hidden;
    }
    * html .cf {
    }
    *:first-child + html .cf {
    }
    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
    }
    th,
    #flip-scroll td {
      margin: 0;
      vertical-align: top;
    }
    th {
      text-align: left;
    }
    table {
      display: block;
      position: relative;
      width: 100%;
    }
    thead {
      display: block;
      float: left;
    }
    tbody {
      display: block;
      overflow-x: auto;
      position: relative;
      white-space: nowrap;
      width: auto;
    }
    thead tr {
      display: block;
    }
    th {
      display: block;
      text-align: right;
    }
    tbody tr {
      display: inline-block;
      vertical-align: top;
    }
    td {
      display: block;
      min-height: 1.25em;
      text-align: left;
    }
    th {
      border-bottom: 0 none;
      border-left: 0 none;
    }
    td {
      border-bottom: 0 none;
      border-left: 0 none;
      border-right: 0 none;
    }
    tbody tr {
      border-left: 1px solid #babcbf;
    }
    th:last-child,
    #flip-scroll td:last-child {
      border-bottom: 1px solid #babcbf;
    }
  }
}

.grid_6,
.grid_5,
.grid_4,
.grid_3,
.grid_2 {
  .table-widget-3 {
    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      border: 1px solid #ccc;
    }

    td {
      /* Behave like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
      white-space: normal;
      text-align: left;
    }

    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      text-align: left;
      font-weight: bold;
    }

    /* Label data */
    td:before {
      content: attr(data-title);
    }
  }
}
